.landingpage_wrapper{
	margin-top: 65px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

.escrowform label{
	width: 20%;
}

@media (min-width: 768px){
.escrowform  .col-sm-10 {
width: 78.333333%;
}
}


.errorlist{
color: red;
}


.transactions{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}



.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-error hr {
  border-top-color: #e6c1c7;
}

.alert-error .alert-link {
  color: #953b39;
}


.footer .content .copyright {
display: none !important;
}


.leftside{
text-align: right;
}