{% extends "base.html" %}



{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>
<link href="{{STATIC_URL}}css/bootstrap-datetimepicker.min.css" media="screen" rel="stylesheet" type="text/css" /> 


<div class="row escrowform">


<form class="form-horizontal" role="form" method="POST">
  {% csrf_token %}
<div class="page-header">
<h3>Create Escrow</h3>
</div>
 <div class="col-xs-12 col-md-10">
{{errors}}
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">I AM</label>
    <div class="col-sm-10">
      <select type="email" id="i_am" class="form-control" name="is_sender" placeholder="i am" required="required" onchange=whoIam(this,'{{ request.user.email }}')>
      <option value=1>Sender</option>
      <option value=0>Buyer</option>
      </select>
    </div>
  </div>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Seller Email</label>
    <div class="col-sm-10">
      <input type="email" id="seller_email" class="form-control" name="sender" placeholder="Email" required="required" value="{{ request.user.email }}" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Buyer Email</label>
    <div class="col-sm-10">
      <input type="email" id="buyer_email" class="form-control" name="buyer" placeholder="Email" required="required">
    </div>
  </div>




<input type="hidden" class="form-control" name="escrower" value="{{escroweremail}}" placeholder="Email" required="required" readonly>



<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Escrow Amount</label>
    <div class="col-sm-10">
      <input type="decimal" class="form-control" name="amount"  placeholder="Escrow Amount" required="required">
    </div>
  </div>
  

<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Escrow Time Limit</label>
    <div class="col-sm-10">
      <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" class="form-control" name="expires" id="expires">
      <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
    </div>

  </div>



<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="encypt_emails" > Encrypt Emails
        </label>
      </div>
    </div>
  </div>



<div class="page-header">
<h3>Conditions of escrow</h3>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="condition_description" placeholder="something for remembering this escrow">
        
      </textarea>
    </div>
  </div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="condition_document" >Require Document
        </label>
      </div>
    </div>
  </div>





<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Note</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="helptext" placeholder="something for remembering this escrow">(optional)
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="verify-email" required="required">I have verified the email addresses, they are all correct
        </label>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit Transaction</button>
    </div>
  </div>


</div>


</form>
</div>
{% endblock %}