{% extends "base.html" %}


{% block content %}


<div class="transaction">




        <div class="col-xs-12 col-md-8">


        <section>
   

   <span>Transaction id: #{{transaction.get_invoice_number}}</span><br />




   {% if transaction.is_sender%}
   <span>Sender: {{request.user.username}} {{transaction.sender}}</span>
   {% else %}
  <span>Buyer: {{request.user.username}} {{transaction.buyer}}</span>
   {% endif %}

   <hr />
   <span>Escrow: {{transaction.amount}} {{transaction.currency}}</span>

   <br />

   <hr />
   <!--
  <div class="row show-grid">
        <div class="col-md-6 leftside">Transaction No</div>
        <div class="col-md-6"><a href="#">#{{transaction.get_invoice_number}}</a></div>
      </div>


    <div class="row show-grid">
        <div class="col-md-6 leftside">Buyer</div>
        <div class="col-md-6">{{transaction.buyer}}</div>
      </div>


    <div class="row show-grid">
        <div class="col-md-6 leftside">Seller</div>
        <div class="col-md-6">{{transaction.sender}}</div>
      </div>

        <div class="row show-grid">
        <div class="col-md-6 leftside">Inspection period</div>
        <div class="col-md-6">{{transaction.expires}}</div>
      </div>
-->

    </section>


  <section id="complaint">
    <div class="page-header">
    <h5 id="page-header"><a href="{{t.get_unique_url }}complaint">File Complaint</a></h5>
    </div>
    </section>


        </div>






 <div class="col-xs-12 col-md-4">



        <section>
    <div class="page-header">
    <h4 id="page-header">STATUS</h4>
    </div>


<ol>
  <li>Sender an Receiver</li>
  <li>Sender an Receiver</li>
  <li>Sender an Receiver</li>
  <li>Sender an Receiver</li>
  <li>Sender an Receiver</li>
  <li>Sender an Receiver</li>
</ol>





    </section>


<!--
  <section id="complaint">
    <div class="page-header">
    <h5 id="page-header"><a href="{{t.get_unique_url }}complaint">File Complaint</a></h5>
    </div>
    </section>
-->

        </div>

<section style="width:100%;display:block;overflow:hidden;">
<div class="page-header">
    <h4 id="page-header">History</h4>
    </div>
</section>

  </div>


{% endblock %}