{% extends "base.html" %}


{% block content %}


<div class="transactions">

<table class="table">
              <thead>
                <tr>
                  <th>#No</th>
                  <th>My Role</th>
                  <th>Buyer Email</th>
                  <th>Seller Email</th>
                  <th>Amount</th>
                  <th>Description</th>
                  <th>Document Required</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <td><a href="{{transaction.get_unique_url}}">{{transaction.get_invoice_number}}</a></td>
                  <td>
                  {%if transaction.is_sender%}
                  Sender
                  {% else %}
                  Buyer
                  {%endif%}
                  </td>
                  <td>{{transaction.buyer}}</td>
                  <td>{{transaction.sender}}</td>
                  <td>{{transaction.amount}}</td>
                  <td>{{transaction.condition_description}}</td>
                  <td>
                  {%if transaction.condition_document%}
                  Yes
                  {% else %}
                  No
                  {%endif%}
                  </td>
                </tr>

               

              </tbody>
            </table>
  </div>


{% endblock %}